// File containing the constant variables to be used in other .style files.
// Should not contain any other content as this will be included multiple times.
// (stylus variables are removed at compile time, so that is fine)
// Also, only single line comments should be used as those are always hidden.


// Bootstrap screen width thresholds.
// Used for switching to different screen layout (mostly for smaller devices).

xs-max = 767px
sm-min = 768px
md-min = 992px
lg-min = 1200px

